@layer components {
    @theme {
        /* NuiButton */
        --nui-button-font-size-small: var(--text-xs);
        --nui-button-font-size-medium: var(--text-base);
        --nui-button-font-size-large: var(--text-xl);
        --nui-button-border-size: var(--border-base);
        --nui-button-font-weight: var(--font-weight-medium);
        --nui-button-padding-x: var(--spacing-sm);
        --nui-button-padding-y: var(--spacing-xs);
        --nui-button-padding-rounded: var(--spacing-base);
        --nui-button-radius: var(--radius-element);                
        --nui-button-shadow: var(--drop-shadow-md);
        --nui-button-text-shadow: var(--text-shadow-md);
        --nui-button-icon-only-size-small: calc(var(--nui-button-font-size-small) * 2);
        --nui-button-icon-only-size-medium: calc(var(--nui-button-font-size-medium) * 2);
        --nui-button-icon-only-size-large: calc(var(--nui-button-font-size-large) * 2);        

        /* NuiIcon */
        --nui-icon-size-small: var(--text-xs);
        --nui-icon-size-medium: var(--text-base);
        --nui-icon-size-large: var(--text-xl);

        /* NuiCard */
        --nui-card-background-color: var(--color-surface);
        --nui-card-radius: var(--radius-container);
        --nui-card-shadow: var(--drop-shadow-md);
        --nui-card-shadow-hover: var(--drop-shadow-lg);
        --nui-card-padding: var(--spacing-sm);
        --nui-card-border-size: var(--border-thin);
        --nui-card-border-color: var(--color-border);

        /* NuiTooltip */
        --nui-tooltip-radius: var(--radius-element);
        --nui-tooltip-padding-x: var(--spacing-sm);
        --nui-tooltip-padding-y: var(--spacing-xs);
        --nui-tooltip-background-color: var(--color-fg);
        --nui-tooltip-text-color: var(--color-bg);
        --nui-tooltip-font-size: var(--text-xs);

        /* NuiInput */
        --nui-input-radius: var(--radius-element);
        --nui-input-border-size: var(--border-thin);
        --nui-input-border-color: var(--color-border);        
        --nui-input-background-color: var(--color-input);
        --nui-input-padding-x: var(--spacing-sm);
        --nui-input-padding-y: var(--spacing-xs);        
        --nui-input-label-font-size: var(--text-sm);
        --nui-input-label-font-weight: var(--font-weight-semibold);
        --nui-input-helper-font-size: var(--text-sm);        
        --nui-input-helper-font-weight: var(--font-weight-normal);        
        --nui-input-size-small: var(--text-xs);
        --nui-input-size-medium: var(--text-base);
        --nui-input-size-large: var(--text-lg);

        /* NuiCheckbox */
        --nui-checkbox-radius: var(--radius-element);
        --nui-checkbox-border-size: var(--border-thin);
        --nui-checkbox-border-color: var(--color-border);
        --nui-checkbox-label-font-size: var(--text-sm);
        --nui-checkbox-label-font-weight: var(--font-weight-semibold);
        --nui-checkbox-helper-font-size: var(--text-sm);        
        --nui-checkbox-helper-font-weight: var(--font-weight-normal);        
        --nui-checkbox-description-font-size: var(--text-base);
        --nui-checkbox-description-font-weight: var(--font-weight-normal);
        --nui-checkbox-background-color: var(--color-input);
        --nui-checkbox-tick-color: var(--color-input-highlight);
        --nui-checkbox-size-small: var(--text-base);
        --nui-checkbox-size-medium: var(--text-xl);
        --nui-checkbox-size-large: var(--text-2xl);
        --nui-checkbox-icon-size-small: var(--text-xs);
        --nui-checkbox-icon-size-medium: var(--text-base);
        --nui-checkbox-icon-size-large: var(--text-lg);

        /* NuiRadio */
        --nui-radio-radius: var(--radius-full);
        --nui-radio-border-size: var(--border-thin);
        --nui-radio-border-color: var(--color-border);
        --nui-radio-label-font-size: var(--text-sm);
        --nui-radio-label-font-weight: var(--font-weight-semibold);
        --nui-radio-helper-font-size: var(--text-sm);
        --nui-radio-helper-font-weight: var(--font-weight-normal);
        --nui-radio-description-font-size: var(--text-base);
        --nui-radio-description-font-weight: var(--font-weight-normal);
        --nui-radio-background-color: var(--color-input);
        --nui-radio-size-small: var(--text-base);
        --nui-radio-size-medium: var(--text-xl);
        --nui-radio-size-large: var(--text-2xl);
        --nui-radio-dot-size-small: calc(var(--nui-radio-size-small) / 2);
        --nui-radio-dot-size-medium: calc(var(--nui-radio-size-medium) / 2);
        --nui-radio-dot-size-large: calc(var(--nui-radio-size-large) / 2);



        /* NuiToggle */
        --nui-toggle-radius: var(--radius-full);
        --nui-toggle-border-size: var(--border-thin);
        --nui-toggle-border-color: var(--color-border);        
        --nui-toggle-label-font-size: var(--text-sm);
        --nui-toggle-label-font-weight: var(--font-weight-semibold);
        --nui-toggle-helper-font-size: var(--text-sm);
        --nui-toggle-helper-font-weight: var(--font-weight-normal);
        --nui-toggle-description-font-size: var(--text-base);
        --nui-toggle-description-font-weight: var(--font-weight-normal);
        --nui-toggle-background-color: var(--color-input);
        --nui-toggle-slot-font-size-small: var(--text-xs);
        --nui-toggle-slot-font-size-medium: var(--text-base);
        --nui-toggle-slot-font-size-large: var(--text-xl);
        --nui-toggle-thumb-background-color: var(--color-input-highlight);  
        --nui-toggle-thumb-translate-x-start: calc(var(--spacing-xxs) * 0.75);
        --nui-toggle-thumb-size-small: var(--text-xs);
        --nui-toggle-thumb-size-medium: var(--text-base);
        --nui-toggle-thumb-size-large: var(--text-xl);
        --nui-toggle-track-height-small: calc(var(--nui-toggle-thumb-size-small) + (var(--nui-toggle-thumb-translate-x-start) * 2));
        --nui-toggle-track-width-small: calc(var(--nui-toggle-track-height-small) * 2);
        --nui-toggle-thumb-translate-x-end-small: var(--nui-toggle-track-height-small);
        --nui-toggle-track-height-medium: calc(var(--nui-toggle-thumb-size-medium) + (var(--nui-toggle-thumb-translate-x-start) * 2));
        --nui-toggle-track-width-medium: calc(var(--nui-toggle-track-height-medium) * 2);
        --nui-toggle-thumb-translate-x-end-medium: var(--nui-toggle-track-height-medium);
        --nui-toggle-track-height-large: calc(var(--nui-toggle-thumb-size-large) + (var(--nui-toggle-thumb-translate-x-start) * 2));
        --nui-toggle-track-width-large: calc(var(--nui-toggle-track-height-large) * 2);
        --nui-toggle-thumb-translate-x-end-large: var(--nui-toggle-track-height-large);

        /* NuiChip */
        --nui-chip-font-size-small: var(--text-xs);
        --nui-chip-font-size-medium: var(--text-sm);
        --nui-chip-font-size-large: var(--text-base);
        --nui-chip-padding-x: var(--spacing-xs);
        --nui-chip-padding-y: var(--spacing-xxs);
        --nui-chip-radius: var(--radius-element);
        --nui-chip-border-size: var(--border-thin);
        --nui-chip-shadow: var(--drop-shadow-md);
        --nui-chip-text-shadow: var(--text-shadow-md);

        /* NuiModal */
        --nui-modal-z-index: 50;
        --nui-modal-content-padding: var(--spacing-md);
        --nui-modal-overlay-background-color: oklch(from var(--color-fg) l c h / calc(alpha - 0.35));
        
    }

    /* Focus ring */
    * {
        @apply outline-0 focus:ring-2 focus:ring-fg/50 focus:ring-offset-2 focus:ring-offset-bg;
    }
}