@layer base {
    @theme {
        --font-ratio: 1;

        /* Spacing */
        --spacing-0: 0;
        --spacing-xxs: 0.125rem;
        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-base: 1rem;
        --spacing-md: 2rem;
        --spacing-lg: 4rem;
        --spacing-xl: 8rem;
        --spacing-xxl: 16rem;

        /* Radius */
        --radius-square: 0;
        --radius-element: var(--radius-sm);
        --radius-container: var(--radius-sm);
        --radius-full: calc(infinity * 1px);

        /* Shadow */
        --shadow-outer: 0 0 var(--spacing-base) rgba(0 0 0 / 0.125);
        --shadow-inner: inset 0 0 var(--spacing-base) rgba(0 0 0 / 0.125);
        --text-shadow-outer: 0 0 var(--spacing-base) rgba(0 0 0 / 0.125);
    }
}

@layer components {
    [class*='n-'] {
        @apply transition-shadow duration-200 ease-in-out;
        @apply focus-visible:outline-0 focus-visible:ring-2 focus-visible:ring-focus focus-visible:z-20;

        a[href]&,
        [class*='--clickable']& {
            @apply cursor-pointer;
            @apply transition-opacity duration-200 ease-in-out;
            @apply transition-shadow duration-200 ease-in-out;
            @apply focus:outline-0 focus:ring-2 focus:ring-focus;
            @apply hover:opacity-75;
        }
        .pilled {
            @apply rounded-full;
        }
        .squared {
            @apply rounded-none;
        }
        .shadowed {
            @apply shadow-outer;
        }
    }

    .n-space {
        @apply grow;
    }
    .n-separator,
    .n-divider {
        @apply border-b border-border;

        & + .n-vertical {
            @apply border-l border-b-0;
        }
    }
}

@utility content-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
}
@utility content-col {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

/* NToastContainer */
@layer components {
    /* --- The Container (Holds the stack) --- */
    [id^='n-toasts-container--'] {
        @apply fixed z-1001
            transition-[opacity,translate] duration-200 ease-in-out delay-200
            hidden;
        &:has(*) {
            @apply flex gap-2;
        }
        &:has(.n-toast-overlay) {
            @apply z-1002;
        }
    }
    /* TOP */
    #n-toasts-container--position-top-left {
        @apply top-0 left-0 mt-4 ml-4 flex-col items-start;
    }
    #n-toasts-container--position-top-center,
    #n-toasts-container--position-top {
        @apply top-0 w-full h-0 mt-4 flex-col items-center z-1000;
    }
    #n-toasts-container--position-top-right {
        @apply top-0 right-0 mt-4 mr-4 flex-col items-end;
    }

    /* CENTER */
    #n-toasts-container--position-center-left {
        @apply top-[calc(50%-(var(--spacing)*8))] left-0 ml-4 flex-col justify-center items-start z-1000;
    }
    #n-toasts-container--position-center-center {
        @apply top-[calc(50%-(var(--spacing)*8))] left-0 w-full flex-col justify-center items-center z-1000;
    }
    #n-toasts-container--position-center-right {
        @apply top-[calc(50%-(var(--spacing)*8))] right-0 mr-4 flex-col justify-center items-end z-1000;
    }

    /* BOTTOM */
    #n-toasts-container--position-bottom-left {
        @apply bottom-0 left-0 mb-4 ml-4 flex-col-reverse items-start;
    }
    #n-toasts-container--position-bottom-center,
    #n-toasts-container--position-bottom {
        @apply bottom-0 w-full h-0 mb-4 flex-col-reverse items-center z-1000;
    }
    #n-toasts-container--position-bottom-right {
        @apply bottom-0 right-0 mb-4 mr-4 flex-col-reverse items-end;
    }
}
