@layer components {
    [class*='n-'] {
        @apply transition-shadow duration-200 ease-in-out;
        @apply focus:outline-0 focus:ring-2 focus:ring-offset-2 focus:ring-offset-bg focus:ring-focus;

        a[href]&,
        [class$='--clickable']& {
            @apply cursor-pointer;
            @apply transition-opacity duration-200 ease-in-out;
            @apply transition-shadow duration-200 ease-in-out;
            @apply hover:opacity-75;
        }

        .pilled {
            @apply rounded-full;
        }
        .squared {
            @apply rounded-none;
        }
        .shadowed {
            @apply shadow-outer;
        }
    }
}
