@theme {
    /* Brand */
    --color-brand: oklch(0.65 0.079 250.44);
    --color-brand-light: color-mix(in oklab, var(--color-brand) 50%, white 50%);
    --color-brand-dark: color-mix(in oklab, var(--color-brand) 50%, black 50%);

    /* Neutral */
    --color-neutral: oklch(0.65 0 0);
    --color-neutral-light: color-mix(in oklab, var(--color-neutral) 50%, white 50%);
    --color-neutral-dark: color-mix(in oklab, var(--color-neutral) 50%, black 50%);

    /* Success */
    --color-success: #009d44;
    --color-success-light: color-mix(in oklab, var(--color-success) 50%, white 50%);
    --color-success-dark: color-mix(in oklab, var(--color-success) 50%, black 50%);

    /* Error */
    --color-error: #a6192e;
    --color-error-light: color-mix(in oklab, var(--color-error) 50%, white 50%);
    --color-error-dark: color-mix(in oklab, var(--color-error) 50%, black 50%);

    /* Warning */
    --color-warning: #d58000;
    --color-warning-light: color-mix(in oklab, var(--color-warning) 50%, white 50%);
    --color-warning-dark: color-mix(in oklab, var(--color-warning) 50%, black 50%);

    /* Info */
    --color-info: #0057b8;
    --color-info-light: color-mix(in oklab, var(--color-info) 50%, white 50%);
    --color-info-dark: color-mix(in oklab, var(--color-info) 50%, black 50%);

    /* Focus */
    --color-focus: #0066ff;

    /* Text, Background */
    --color-text: oklch(0.25 0 0);
    --color-text-light: color-mix(in oklab, var(--color-text) 50%, white 50%);
    --color-text-dark: color-mix(in oklab, var(--color-text) 50%, black 50%);

    --color-background: oklch(0.85 0 0);
    --color-background-light: color-mix(in oklab, var(--color-background) 50%, white 50%);
    --color-background-dark: color-mix(in oklab, var(--color-background) 50%, black 50%);

    --color-text-invert: color-mix(in oklab, var(--color-background) 85%, white 15%);
    --color-background-invert: color-mix(in oklab, var(--color-text) 85%, black 15%);

    /* Surface */
    --color-surface: oklch(0.9 0 0);
    --color-surface-indent: color-mix(in oklab, var(--color-surface) 90%, black 10%);
    --color-surface-indent-indent: color-mix(in oklab, var(--color-surface-indent) 90%, black 10%);
    --color-surface-indent-indent-indent: color-mix(in oklab, var(--color-surface-indent-indent) 90%, black 10%);
    --color-surface-indent-indent-indent-indent: color-mix(
        in oklab,
        var(--color-surface-indent-indent-indent) 90%,
        black 10%
    );

    /* Input */
    --color-input: oklch(0.75 0 0);

    /* Border */
    --color-border: oklch(0.6 0 0);

    --font-ratio: 1;

    /* Spacing */
    --spacing-xxs: 0.125rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-base: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;
    --spacing-xxl: 16rem;

    /* Radius */
    --radius-square: 0;
    --radius-element: var(--radius-sm);
    --radius-container: var(--radius-sm);
    --radius-full: calc(infinity * 1px);

    /* Shadow */
    --shadow-outer: 0 0 var(--spacing-sm) var(--spacing-xs) rgba(0 0 0 / 0.125);
    --shadow-inner: inset 0 0 var(--spacing-sm) var(--spacing-xs) rgba(0 0 0 / 0.125);
    --text-shadow-outer: 0 0 var(--spacing-sm) var(--spacing-xs) rgba(0 0 0 / 0.125);
}